body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}
.red{
    background-color: orangered;
}
.blue{
    background-color: skyblue;
}
.green{
    background-color: greenyellow;
}
.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: black;
}